{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} at Ilerio Def's</title>
    </head>
    <body>
    <nav class="bg-orange-300">
            <div class="max-w-6xl mx-auto py-2 px-6 items-center flex justify-between xl:px-0">
                <div class="menu-left flex-container items-center">
                    <div class="inline-flex px-1 w-auto mx-auto items-center">
                        <img src="{% static '/media/fireball.svg' %}" alt="" class="w-7 h-7 px-1 border-l-2 border-burgerGray rounded-full bg-burgerWhite text-burgerGray">
                        <a href="#" class="py-2 px-2 text-lg text-burgerGray font-semibold hover:text-burgerWhite">At Ilerio Def's</a>
                    </div>
                </div>
                    <ul class="flex items-center space-x-4 text-burgerGray">
                        <li><a href="{%  url 'menu' %}" class="text-burgerGray border-2
                         border-white rounded-xl p-1 bg-burgerWhite hover:bg-burgerWhite-50">Menu</a></li>
                        <li><a href="{% url 'order' %}" class="text-burgerGray border-2 border-white rounded-xl p-1 bg-burgerWhite hover:bg-burgerWhite-50">Order</a></li>
                        <li>
                            <div class="flex bg-burgerWhite text-burgerGray rounded-xl p-1">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                                </svg>
                                <a href="#" class="">{{ menu_order.get_order_quantity }}</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="menu-right flex items-center space-x-4">
                    <a href="#">

                    </a>
                </div>
            </div>
    </nav>




                {% block content %}
                {% endblock %}

        <footer class="bg-burgerWhite">
            <div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between">
                <div class="footer-left text-burgerGray mb-12 md:mb-0">
                    <h2 class="mb-5 uppercase text-lg">About us</h2>
                    <p class="">Ilerio Def's restaurant specializes in fusion kitchen</p>
                </div>

                <div class="footer-right text-burgerGray">
                    <h2 class="mb-5 uppercase text-lg">Social links</h2>

                    <ul class="space-y-2">
                        <li><a href="#" class="text-burgerOrange hover:text-orange-800">Facebook</a></li>
                        <li><a href="#" class="text-burgerOrange hover:text-orange-800">Twitter</a></li>
                        <li><a href="#" class="text-burgerOrange hover:text-orange-800">Instagram</a></li>

                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>