<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="border-b border-gray-300">
        <div class="max-w-6xl mx-auto py-2 px-6 xl:px-0  items-center flex justify-between">
            <div class="menu-left flex items-center space-x-6">
                <a href="#" class="py-4 text-lg text-orange-500 font-semibold">At Ilerio Def's</a>

                <ul class="flex items-center space-x-4">
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Order</a></li>
                    <li>
                        <div class="flex bg-orange-100 rounded-xl p-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                            </svg>
                            <a href="#" class="">3</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="menu-right flex items-center space-x-4">
                <a href="#">

                </a>
            </div>
        </div>
    </nav>
    <main>
        <div class="w-full p-10 items-start">
            <div class="p-4 flex">
                <div class="left_part border-2 border-yellow-400 w-3/4 p-4">
                <ul class="border-2 border-blue-600 justify-center">
                    <li>
                        <div class="border-2 border-red-500 w-4/5 mt-1 flex-1">
                            <div class="p-4 bg-gray-400 rounded flex ">
                                <img src="https://placehold.co/240x240.png" class="object-fill rounded-2xl p-2">
                                <div class="border-2 border-green-200">
                                    Description
                                </div>
                                <div class="border-2 border-red-300">PRice</div>
                                <div class="counter border-2  border-green-500 m-1 px-2 flex">
                                    <a class="bg-gray-400 rounded-l mx-auto">-</a>
                                    2
                                    <a class="bg-gray-400 rounded-r px-1">+</a>
                                </div>
                            </div>

                        </div>
                    </li>


                </ul>

                </div>
                <div class="right_part border-2 border-yellow-700 w-1/4">
                    <div class="total border-4 border-green-500 w-full p-5 rounded-2xl">
                        <div>Total amount: 3333$</div>
                        <div>Allergens:
                        <ul class="flex px-2">
                            <li class="mx-1"> shrimp </li>
                            <li class="mx-1"> shrimp </li>
                            <li class="mx-1"> shrimp </li>
                        </ul>
                        </div>
                        <div>
                            <a class="border-2 border-amber-500 m-3 px-1 bg-orange-500 rounded-xl hover:bg-orange-700 uppercase">finalize order</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>
    <footer class="bg-orange-100">
        <div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between">
            <div class="footer-left mb-12 md:mb-0">
                <h2 class="mb-5 uppercase text-lg">About us</h2>
                <p class="text-gray-700">Ilerio Def's restaurant specializes in fusion kitchen</p>
            </div>

            <div class="footer-right">
                <h2 class="mb-5 uppercase text-lg">Social links</h2>

                <ul class="space-y-2">
                    <li><a href="#" class="text-orange-600 hover:text-orange-800">Facebook</a></li>
                    <li><a href="#" class="text-orange-600 hover:text-orange-800">Twitter</a></li>
                    <li><a href="#" class="text-orange-600 hover:text-orange-800">Instagram</a></li>

                </ul>
            </div>
        </div>

    </footer>


</body>
</html>